<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fahaddev.prepps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".helpers.Prepps"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prepps">
        <activity android:name=".activities.FavouriteCollegesActivity"></activity>
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.InboxActivity" />
        <activity android:name=".activities.student.ProgramsCollegeActivity" />
        <activity android:name=".activities.student.CollegeDetailActivity" />
        <activity android:name=".activities.college.FavouriteStudentsActivity" />
        <activity android:name=".activities.TimelineDetailsActivity" />
        <activity android:name=".activities.student.ArticleDetailActivity" />
        <activity android:name=".activities.ArticleDetailsActivity" />
        <activity android:name=".activities.student.ScholarShipActivity" />
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.student.ReferFriendActivity" />
        <activity android:name=".activities.student.JobDetailsActivity" />
        <activity android:name=".activities.college.CollegeHomeActivity" />
        <activity android:name=".activities.college.CollegeSignUpActivity" />
        <activity android:name=".activities.student.StudentsHomeActivity" />
        <activity android:name=".activities.student.StudentSignUpActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.fahaddev.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>